.jumbotron{
  color: black;
  background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
  margin-top: 50px;
}

footer{
  padding: 10px 10px 0 10px;
  background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
  margin-bottom: 0px;
  align-items: center;

}

ul{
  list-style: none;
  justify-content: space-evenly;
  
}

a{
  margin-right: 10px;
  color: white;
}

.card-hotel{
  position: relative;
  flex: 1 250px;
  padding: 10px 10px 10px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-adress-icon{
 margin-right: 10px;
}
footer{
  margin-top: 15px;
}

.contactos-fom{
  border-radius: 10px;
  /* padding: 20px; */
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.contactos-fom button{
  margin-top: 10px;
}